ProcessBaseCore2/src/processbase2.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://xml.processbase.org/schema/"
    xmlns:tns="http://xml.processbase.org/schema/"
    elementFormDefault="qualified">
    <xsd:complexType name="VariableType">
        <xsd:sequence>
            <xsd:element name="value" type="xsd:anyType"  maxOccurs="unbounded" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ProcessVariablesType">
        <xsd:sequence>
            <xsd:element name="item" type="tns:VariableType"  maxOccurs="unbounded" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>